extends layout

block content

  div.container.register
    div.row.register-form
      div.col.s6.offset-s3.card-panel.z-depth-4
        div.row.center.title
        span.error_msg=msg
        form#form_register(name='register', method='post', action='/login')
          input(type='hidden', value=locals._csrf, name='_csrf')
          div.col.s12
            div.row
                div.input-field.col.s6
                label(for='username') Username
                div.input-field.col.s6
                input(type='text', name='username')
                div.input-field.col.s6
                label(for='password') Password
                div.input-field.col.s6
                input(type='password', name='password')
    
            div.row
              div.input-field.col.s12.center
                button.waves-effect.waves-light.btn.custom-btn(type='submit') Login

            div.row.center
            div.input-field.col.s12
            a.register.modal-trigger(href='/register') Register